/* src/app/user-list/user-list.component.css */
.mat-table {
    width: 100%;
  }
  
  th.mat-header-cell, td.mat-cell {
    text-align: left;
    padding: 8px;
  }
  
  .mat-header-cell {
    font-weight: bold;
  }
  