<div class="flex items-center flex-col pt56 h-screen">
    <div class="h-screen" style="margin-top: 5rem;">
        <h1 class="text-2xl text-center font-bold my-10" style="margin: 0;">
            Bem vindos ao
            <span class="text-2xl text-purple-700">Projeto de Multas</span>
        </h1>
        <div class="flex flex-col items-center gap-5 justify-center">
            <h1 class="text">Você não está logado</h1>
            <a routerLink="/login">
                <button class="bg-purple-500 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded-md">
                    Login
                </button>
            </a>
        </div>
    </div>
</div>

<p>home works</p>