<div class="multas-container">
    <h1>Listagem de Multas</h1>
    <table class="multas-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Número AIT</th>
          <th>Data da Infração</th>
          <th>Código da Infração</th>
          <th>Descrição</th>
          <th>Placa do Veículo</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let multa of multas">
          <td>{{ multa.id }}</td>
          <td>{{ multa.numeroAIT }}</td>
          <td>{{ multa.dataInfracao }}</td>
          <!-- | date:'dd/MM/yyyy HH:mm' -->
          <td>{{ multa.codigoInfracao }}</td>
          <td>{{ multa.descricaoInfracao }}</td>
          <td>{{ multa.placaVeiculo }}</td>
          <td>
            <!-- Botão de edição -->
            <button (click)="editarMulta(multa.id)">Editar</button>
            <!-- Botão de exclusão -->
            <button (click)="deletarMulta(multa.id)">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  